<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/grafico/admin.css">
    <div class="head-left">
      <a href="/usuarios/main"><button class="btn_home"></button></a>
    </div>
    <div class="head-right">
      <a href="/usuarios/teladesligar"><button class="btn_shutdown"></button></a>
    </div>
    {{#if error}}
      <div style="margin-top:-40px"></div>
      {{#each error}}
        <div class="alert alert-danger">{{texto}}</div>
      {{/each}}
    {{/if}}
  </head>
  <body>
    <div class="title">Cadastrar usuários</div>
    <form action="" method="post" autocomplete="off">
      <div class="create-user">
        <div class="first-column">
          <div class="row">
            <p>Nome Completo</p>
            <div class="search-input big">
              <input spellcheck="false" class="use-keyboard-input" type="text" name="nome" value="{{usuario.nome}}" required/>
            </div>
          </div>
          <div class="row">
            <p>Setor</p>
            <div class="search-input big">
              <input spellcheck="false" class="use-keyboard-input" type="text" name="setor" value="{{usuario.setor}}" required/>
            </div>
          </div>
          <div class="row">
            <p>Login</p>
            <div class="search-input big">
              <input spellcheck="false" class="use-keyboard-input" type="text" name="login" value="{{usuario.login}}" required/>
            </div>
          </div>
          <div class="row">
            <p>Senha</p>
            <div class="search-input small" style="margin-left:-110px">
              <input class="use-numpad-input-null"  id="boxSenha"  onclick='resetSenha()' type="password" name="senha" required/>
            </div>
          </div>
          <div class="row">
            <p>Código do Cartão</p>
            <div class="search-input small" style="margin-left:-110px">
              <input spellcheck="false" id="boxCartao" onclick='openRfid()' type="text" name="rfid" value="{{usuario.rfid}}" style="caret-color:transparent"/>
            </div>
          </div>
          <div class="row">
            <p>Gavetas</p>
            <div class="acesso-gaveta" onclick="alteraAcessoGv(1)">
              <p>GV1</p>
              <input id="gv1" type="hidden" class="inside" type="text" name="gv1" value="true"/>
              <div id="checkGV1" class="check"></div>
            </div>
            <div class="acesso-gaveta" onclick="alteraAcessoGv(2)">
              <p>GV2</p>
              <input id="gv2" type="hidden" class="inside" type="text" name="gv2" value="true"/>
              <div id="checkGV2" class="check"></div>
            </div>
            <div class="acesso-gaveta" onclick="alteraAcessoGv(3)">
              <p>GV3</p>
              <input id="gv3" type="hidden" class="inside" type="text" name="gv3" value="true"/>
              <div id="checkGV3" class="check"></div>
            </div>
            <div class="acesso-gaveta" onclick="alteraAcessoGv(4)">
              <p>GV4</p>
              <input id="gv4" type="hidden" class="inside" type="text" name="gv4" value="true"/>
              <div id="checkGV4" class="check"></div>
            </div>
            <div class="acesso-gaveta" onclick="alteraAcessoGv(5)">
              <p>GV5</p>
              <input id="gv5" type="hidden" class="inside" type="text" name="gv5" value="true"/>
              <div id="checkGV5" class="check"></div>
            </div>
            <div class="acesso-gaveta" onclick="alteraAcessoGv(6)">
              <p>GV6</p>
              <input id="gv6" type="hidden" class="inside" type="text" name="gv6" value="true"/>
              <div id="checkGV6" class="check"></div>
            </div>
            <div class="acesso-gaveta" onclick="alteraAcessoGv(7)">
              <p>GV7</p>
              <input id="gv7" type="hidden" class="inside" type="text" name="gv7" value="true"/>
              <div id="checkGV7" class="check"></div>
            </div>
            <div class="acesso-gaveta" onclick="alteraAcessoGv(8)">
              <p>GV8</p>
              <input id="gv8" type="hidden" class="inside" type="text" name="gv8" value="true"/>
              <div id="checkGV8" class="check"></div>
            </div>
          </div>
          <div style="display: flex; justify-content: center; margin-right: -430px">
            <button type="submit" class="btns" style="margin-top:40px">
              <p>Salvar</p>
            </button>
          </div>
        </div>
        <!--<div type="" class="second-column">
          <div class="frame-user">
            <img [src]="srcImage" [ngStyle]="{'width': !user.image ? '80%' : 'inherit', 'height': !user.image ? 'auto' : 'inherit'}" />
          </div>
          <button class="btns">
            <p>Buscar Imagem</p>
          </button>
          <button type="submit" class="btns" style="margin-top:50px">
            <p>Salvar</p>
          </button>
        </div>-->
      </div>
    </form>

    <dialog id="dialogRfid" style="background: none; border: transparent">
      <form method="dialog" >
        <div class="janela-rfid">
          <div class="contents" style="margin-top: 20px">
            <div class="logoRfid"></div>
          </div>
          <div class="contents">
            <p id="textFalhaCameras" style="margin-top: 20px">Aproxime o cartão do leitor</p>
          </div>
          <div class="contents" style="margin-top: 18px">
            <button class="btns" onclick="closeRfid()">
              <p>Cancelar</p>
            </button>
          </div>
        </div>
      </form>
    </dialog>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      var rfidOpen = 0
      
      document.addEventListener("keydown", function(e){ //Prevenir o "enter" ao ler cartão rfid
        if(rfidOpen == 1){
          rfidOpen = 0;
          document.getElementById('dialogRfid').close();
        }
        if(e.keyCode == 13){
          e.preventDefault();
          document.getElementById('boxCartao').blur();
        }
      })

      function openRfid(){
        rfidOpen = 1;
        document.getElementById("boxCartao").value = '';
        document.getElementById('dialogRfid').showModal();
      }

      function closeRfid(){
        rfidOpen = 0;
        document.getElementById('dialogRfid').close();
        document.getElementById('boxCartao').blur();
      }

      function alteraAcessoGv(data){
        if (document.getElementById('gv'+data).value=="false"){
          document.getElementById('gv'+data).value = "true";
          document.getElementById('checkGV'+data).className = "check";
        }
        else{
          document.getElementById('gv'+data).value = "false";
          document.getElementById('checkGV'+data).className = "not-check";          
        }
      };
	  
	    function resetSenha(){
        document.getElementById("boxSenha").value = '';
      }
	  
	    //function resetCartao(){
      //  document.getElementById("boxCartao").value = '';
      //}
    </script>
  </body>
  <foot>
    <div class="footer">
      <a href="/admin/useroptions"><button class="btn_return"></button></a>
    </div>
  </foot>
</html>
