<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/grafico/admin.css">
    <div class="head-left">
      <a href="/usuarios/main"><button class="btn_home"></button></a>
    </div>
    <div class="head-right">
      <a href="/usuarios/teladesligar"><button class="btn_shutdown"></button></a>
    </div>
  </head>
  <body>
    <div class="title">Gaveta específica - Histórico</div>
    <div class="historico-testes">
      <div class="lista-eventos">
        <table id='Tabela3-title'>
          <tr style="height:65px; border: 1px solid #FAEFC0">
            <td style="width: 150px; background-color: #202020; color: #FAEFC0">Data</td>
            <td style="width: 92px; background-color: #202020; color: #FAEFC0">Gaveta</td>
            <td style="width: 150px; background-color: #202020; color: #FAEFC0">Tempo</td>
            <td style="width: 130px; background-color: #202020; color: #FAEFC0">Contagem de ciclos</td>
            <td style="width: 130px; background-color: #202020; color: #FAEFC0">Situação</td>
          </tr>
        </table>
        <div class="scroll">
          <table id='Tabela3'>
            {{#each eventos}}
              <tr>
                <td style="width: 150px">{{data}}</td>
                <td style="width: 92px">{{gaveta}}</td>
                <td style="width: 150px">{{tempo}}</td>
                <td style="width: 130px">{{contagemCiclos}}</td>
                {{#if finalizado}}
                  <td style="width: 130px">Concluido</td>
                {{else}}
                  <td style="width: 130px">Falhou</td>
                {{/if}}
              </tr>
            {{else}}
              </table>
              <h4 style="color:black; margin-top: 20px" align="center">Nenhum registro</h4>
            {{/each}}
          </table>
        </div>
      </div>
    </div>
  </body>
  <foot>
    <div class="footer">
      <a href="/admin/gavetaespecifica"><button class="btn_return"></button></a>
    </div>
  </foot>
</html>