<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/grafico/admin.css">
    <div class="head-left">
      <a href="/usuarios/main"><button class="btn_home"></button></a>
    </div>
    <div class="head-right">
      <a href="/usuarios/teladesligar"><button class="btn_shutdown"></button></a>
    </div>
</head>
<body>
    <div class="title">Opções</div>
    <div class="search-table2">
      <div class="first-column">
          <div class="options">
            <div style="display:none">
              <button onclick='editFechamento()' class="line">
                <div class="line-l"><p>Fechamento automático</p></div>
                <div class="line-r"><p id="fechamento"></p></div>
                <div class="line-r"><div id="line-1" class="select"></div></div>
              </button>
            </div>
            <div style="display:none">
              <button onclick='editDesligamento()' class="line">
                <div class="line-l"><p>Desligamento automático</p></div>
                <div class="line-r"><p id="desligamento"></p></div>
                <div class="line-r"><div id="line-2" class="select"></div></div>
              </button>
            </div>
            <div>
              <button onclick='editEmail()' class="line">
                <div class="line-l"><p>E-mail para envio de relatórios</p></div>
                <div class="line-r"></div>
                <div class="line-r"><div id="line-3" class="select"></div></div>
              </button>
            </div>
            <div>
              <button onclick='editDataHora()' class="line">
                <div class="line-l"><p>Data e hora</p></div>
                <div class="line-r"></div>
                <div class="line-r"><div id="line-4" class="select"></div></div>
              </button>
            </div>
            <div>
              <button onclick='deletarRegistros()' class="line">
                <div class="line-l"><p>Excluir registros do histórico</p></div>
                <div class="line-r"></div>
                <div class="line-r"><div id="line-5" class="select"></div></div>
              </button>
            </div>
            <div>
              <button onclick='editIdentificacao()' class="line">
                <div class="line-l"><p>Identificação do dispositivo</p></div>
                <div class="line-r"></div>
                <div class="line-r"><div id="line-8" class="select"></div></div>
              </button>
            </div>
            <div>
              <button onclick='telaAtualizacao()' class="line">
                <div class="line-l"><p>Atualizações do dispositivo</p></div>
                <div class="line-r"></div>
                <div class="line-r"><div id="line-6" class="select"></div></div>
              </button>
            </div>
            <div>
              <button onclick='telaEncerrarSessao()' class="line">
                <div class="line-l"><p>Encerrar sessão automaticamente</p></div>
                <div class="line-r"><p id="encerrarSessao"></p></div>
                <input style="display:none" id="auxValueEncerrarSessao" value="{{configuracoes.encerrarSessao}}"></input>
                <div class="line-r"><div id="line-7" class="select"></div></div>
              </button>
            </div>
            <div>
              <button onclick='editCartao()' class="line">
                <div class="line-l"><p>Acesso via cartão</p></div>
                <div class="line-r" style="width: 20%"><div class='switch-on' id="switch-cartao"></div></div>
              </button>
            </div>
          </div>
      </div>
      <div id="SelectOptions" class="second-column" style="visibility: hidden">
        <div class='options'>
          <div id='Tab1' style="display:none">
            <button onclick='setFechamento(0)' class="line">
              <div class="line-l" style="width: 88%"><p>5 min</p></div>
              <div class="line-r"><div id="fech[0]" class="check" style="display:none"></div></div>
            </button>
            <button onclick='setFechamento(1)' class="line">
              <div class="line-l" style="width: 88%"><p>10 min</p></div>
              <div class="line-r"><div id="fech[1]" class="check" style="display:none"></div></div>
            </button>
            <button onclick='setFechamento(2)' class="line">
              <div class="line-l" style="width: 88%"><p>20 min</p></div>
              <div class="line-r"><div id="fech[2]" class="check" style="display:none"></div></div>
            </button>
            <button onclick='setFechamento(3)' class="line">
              <div class="line-l" style="width: 88%"><p>30 min</p></div>
              <div class="line-r"><div id="fech[3]" class="check" style="display:none"></div></div>
            </button>
          <button onclick='setFechamento(4)' class="line">
            <div class="line-l" style="width: 88%"><p>Nunca</p></div>
              <div class="line-r"><div id="fech[4]" class="check" style="display:none"></div></div>
          </button>
          </div>
          <div id='Tab2' style="display:none">
            <button onclick='setDesligamento(0)' class="line">
              <div class="line-l" style="width: 88%"><p>15 min</p></div>
              <div class="line-r"><div id="desl[0]" class="check" style="display:none"></div></div>
            </button>
            <button onclick='setDesligamento(1)' class="line">
              <div class="line-l" style="width: 88%"><p>30 min</p></div>
              <div class="line-r"><div id="desl[1]" class="check" style="display:none"></div></div>
            </button>
            <button onclick='setDesligamento(2)' class="line">
              <div class="line-l" style="width: 88%"><p>1 hora</p></div>
              <div class="line-r"><div id="desl[2]" class="check" style="display:none"></div></div>
            </button>
            <button onclick='setDesligamento(3)' class="line">
              <div class="line-l" style="width: 88%"><p>2 horas</p></div>
              <div class="line-r"><div id="desl[3]" class="check" style="display:none"></div></div>
            </button>
            <button onclick='setDesligamento(4)' class="line">
              <div class="line-l" style="width: 88%"><p>Nunca</p></div>
              <div class="line-r"><div id="desl[4]" class="check" style="display:none"></div></div>
            </button>
          </div>
          <div id='Tab3' style="display:none">
            <div class='enterData'>
              <div style="align: center">
                <div style="margin-top: 30px">
                  <p>E-mail 1:</p>
                  <div id="divEmail1" class="search-input medium" autocomplete="off">
                    <input spellcheck="false" autocomplete="off" id="boxEmail" value="{{configuracoes.email}}" class="use-keyboard-input" type="text" style="text-align: center; font-size: 20px;"></input>
                  </div>
                  <div class="email-invalido">
                    <p id="msgEmail1"></p> 
                  </div>
                  <p>E-mail 2:</p>
                  <div id="divEmail2" class="search-input medium" autocomplete="off">
                    <input spellcheck="false" autocomplete="off" id="boxEmail2" value="{{configuracoes.email2}}" class="use-keyboard-input" type="text" style="text-align: center; font-size: 20px;"></input>
                  </div>
                  <div class="email-invalido">
                    <p id="msgEmail2"></p>
                  </div>
                  <p>E-mail 3:</p>
                  <div id="divEmail3" class="search-input medium" autocomplete="off">
                    <input spellcheck="false" autocomplete="off" id="boxEmail3" value="{{configuracoes.email3}}" class="use-keyboard-input" type="text" style="text-align: center; font-size: 20px;"></input>
                  </div>
                  <div class="email-invalido">
                    <p id="msgEmail3"></p> 
                  </div>
                </div>
                <div style="margin-top:30px; margin-left: 137px">
                  <button type="submit" class="btns" onclick="setEmail()">
                    <p>Confirmar</p>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div id='Tab4' style="display:none">
            <div class="data-hora">
              <div class="first-column">
                <div class="line" style="border-top: none; border-bottom: none; margin-top:65px">
                  <div class="column">
                    <button class="btns-alterar-up" onclick="up_dia()"></button>
                    <p id="dia"></p>
                    <button class="btns-alterar-down" onclick="down_dia()"></button>
                  </div>
                  <p style="margin-top: 95px; margin-left: -10px">/</p>
                  <div class="column">
                    <button class="btns-alterar-up" onclick="up_mes()"></button>
                    <p id="mes"></p>
                    <button class="btns-alterar-down" onclick="down_mes()"></button>
                  </div>
                  <p style="margin-top: 95px; margin-left: -10px">/</p>
                  <div class="column">
                    <button class="btns-alterar-up" onclick="up_ano()"></button>
                    <p id="ano"></p>
                    <button class="btns-alterar-down" onclick="down_ano()"></button>
                  </div>
                </div>
                <div class="line" style="border-top: none; border-bottom: none; margin-top:120px">
                  <div class="column">
                    <button class="btns-alterar-up" onclick="up_hora()"></button>
                    <p id="hora"></p>
                    <button class="btns-alterar-down" onclick="down_hora()"></button>
                  </div>
                  <p style="margin-top: 90px; margin-left: -10px">:</p>
                  <div class="column">
                    <button class="btns-alterar-up" onclick="up_minuto()"></button>
                    <p id="minuto"></p>
                    <button class="btns-alterar-down" onclick="down_minuto()"></button>
                  </div>
                </div>
                <div class="line" style="border-top: none; border-bottom: none; margin-top:125px">
                  <button class="btns" onclick="alteraDataHora()">
                    <p>Confirmar</p>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div id='Tab5' style="display:none">
            <div class='enterData'>
              <div style="align: left">
                <div style="margin-top: 120px">
                  <p>Excluir registros com ferramentas devolvidas:</p>
                </div>
                <div style="margin-top:20px; margin-left: 70px">
                  <button type="submit" class="btns" onclick="excluirRegistros(0)">
                    <p>Excluir</p>
                  </button>
                </div>
                <div style="margin-top: 50px">
                  <p>Excluir todos os registros:</p>
                </div>
                <div style="margin-top:20px; margin-left: 70px">
                  <button type="submit" class="btns" onclick="excluirRegistros(1)">
                    <p>Excluir</p>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div id='Tab8' style="display:none">
            <div class='enterData'>
              <div style="align: left">
                <div style="align: center">
                  <div style="margin-top: 143px">
                    <p>Identifição:</p>
                    <div class="search-input medium" autocomplete="off">
                      <input spellcheck="false" autocomplete="off" id="boxIdentificacao" value="{{configuracoes.identificacao}}" class="use-keyboard-input" style="text-align: center; font-size: 20px;"></input>
                    </div>
                  </div>
                  <div style="margin-top:30px; margin-left: 137px">
                    <button type="submit" class="btns" onclick="setIdentificacao()">
                      <p>Confirmar</p>
                    </button>
                  </div>
                </div>
                <div style="margin-top: 175px; margin-left: -15px">
                  <p id="serialNumber">Número de série: </p>
                </div>
              </div>
            </div>
          </div>
          <div id='Tab6' style="display:none">
            <div class='enterData'>
              <div style="align:left">
                <div id='verificarAtualizacoes'>
                  <div id="erroAtualizar" class="errorOptions" style="visibility:hidden"></div>
                  <div style="margin-top: 130px">
                    <p id="textBuscaAtualizacao" style="width: 480px; text-align: center">Verificar atualizações disponíveis:</p>
                  </div>
                  <div style="margin-top:20px; margin-left: 127px">
                    <!--<a href="/admin/atualizacao" style="text-decoration: none">-->
                    <button id="btn_VerificarAtualizacao" onclick="verificarAtualizacoes()" type="submit" class="btns" style="display:visible">
                      <p>Verificar</p>
                    </button>
                    <div id="btn_VerificarAtualizacaoLoading" class="btns" style="display:none">
                      <div class='c_loader'></div>
                    </div>
                    <!--</a>-->
                  </div>
                </div>
                <div id='atualizarDispositivo' style="display:none">
                  <div id="erroAtualizar" class="errorOptions" style="visibility:hidden"></div>
                  <div style="margin-top: 130px">
                    <p id="textAtualizacao" style="width: 480px; text-align: center"></p>
                  </div>
                  <div style="margin-top:20px; margin-left: 127px">
                    <!--<a href="/admin/atualizacao" style="text-decoration: none">-->
                    <button onclick="atualizarDispositivo()" type="submit" class="btns">
                      <p>Atualizar</p>
                    </button>
                    <!--</a>-->
                  </div>
                </div>
                <div style="margin-top: 175px; margin-left: -23px">
                  <p id="versaoAtual"></p>
                </div>
              </div>
            </div>
          </div>
          <div id='Tab7' style="display:none">
            <button onclick='setEncerrarSessao(0)' class="line">
              <div class="line-l" style="width: 88%"><p>1 min</p></div>
              <div class="line-r"><div id="encer[0]" class="check" style="display:none"></div></div>
            </button>
            <button onclick='setEncerrarSessao(1)' class="line">
              <div class="line-l" style="width: 88%"><p>3 min</p></div>
              <div class="line-r"><div id="encer[1]" class="check" style="display:none"></div></div>
            </button>
            <button onclick='setEncerrarSessao(2)' class="line">
              <div class="line-l" style="width: 88%"><p>5 min</p></div>
              <div class="line-r"><div id="encer[2]" class="check" style="display:none"></div></div>
            </button>
            <button onclick='setEncerrarSessao(3)' class="line">
              <div class="line-l" style="width: 88%"><p>10 min</p></div>
              <div class="line-r"><div id="encer[3]" class="check" style="display:none"></div></div>
            </button>
            <button onclick='setEncerrarSessao(4)' class="line">
              <div class="line-l" style="width: 88%"><p>Nunca</p></div>
              <div class="line-r"><div id="encer[4]" class="check" style="display:none"></div></div>
            </button>
          </div>

          <dialog id="dialogConfirmaExclusaoDevolvidas" style="background: none; border: transparent">
            <form method="dialog">
              <div class="janela-confirmaExclusao">
                <div class="contents" style="margin-top: 40px; margin-left: 30px">
                  <div class="exclusao"  style="margin-top: 20px"></div>
                  <p style="width: 520px">Tem certeza de que deseja excluir todos os registros de ferramentas devolvidas?</p>
                </div>
                <div class="contents" style="margin-top: 30px; margin-left: 180px">
                  <button class="btns" onclick="excluirRegistrosDevolvidas()">
                    <p>Confirmar</p>
                  </button>
                  <button class="btns" onclick="fechaDialogExclusaoDevolvidas()">
                    <p>Cancelar</p>
                  </button>
                </div>
              </div>
            </form>
          </dialog>

          <dialog id="dialogConfirmaExclusaoTodos" style="background: none; border: transparent">
            <form method="dialog">
              <div class="janela-confirmaExclusao">
                <div class="contents" style="margin-top: 40px; margin-left: 30px">
                  <div class="exclusao"  style="margin-top: 20px"></div>
                  <p style="width: 520px">Tem certeza de que deseja excluir todos os registros do histórico?</p>
                </div>
                <div class="contents" style="margin-top: 30px; margin-left: 180px">
                  <button class="btns" onclick="excluirRegistrosTodos()">
                    <p>Confirmar</p>
                  </button>
                  <button class="btns" onclick="fechaDialogExclusaoTodos()">
                    <p>Cancelar</p>
                  </button>
                </div>
              </div>
            </form>
          </dialog>

        </div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      
      // ===== Configurações gerais =====

      var socket = io.connect();
      var confFechamento = {{configuracoes.fechamento}};
      var strFechamento = ['5 min', '10 min', '20 min', '30 min', 'Nunca']
      var confCartao = {{configuracoes.cartao}};
      var confDesligamento = {{configuracoes.desligamento}};
      var confEncerrarSessao = document.getElementById("auxValueEncerrarSessao").value;//= {{configuracoes.encerrarSessao}};
      var emailAtual = document.getElementById("boxEmail").value;
      var emailAtual2 = document.getElementById("boxEmail2").value;
      var emailAtual3 = document.getElementById("boxEmail3").value;
      var identificacao = document.getElementById("boxIdentificacao").value;
      var strDesligamento = ['15 min', '30 min', '1 hora', '2 horas', 'Nunca']
      var strEncerrarSessao = ['1 min', '3 min', '5 min', '10 min', 'Nunca']
      var versaoAtual = ''
      //var mail = document.getElementById("email").innerHTML;
      //confEmail = document.getElementById("email").innerHTML;

      //document.getElementById('dialogConfirmaExclusaoTodos').showModal();
      //document.getElementById('dialogConfirmaExclusaoDevolvidas').showModal();
	  
      document.getElementById("line-1").style = "display:none";
      document.getElementById("line-2").style = "display:none";
      document.getElementById("line-3").style = "display:none";
      document.getElementById("line-4").style = "display:none";
      document.getElementById("line-5").style = "display:none";
      document.getElementById("line-6").style = "display:none";
      document.getElementById("line-7").style = "display:none";
      document.getElementById("line-8").style = "display:none";
      
      editCheckEncerrarSessao(confEncerrarSessao)

      document.getElementById("fechamento").innerHTML = strFechamento[confFechamento];
      document.getElementById("desligamento").innerHTML = strDesligamento[confDesligamento];
      document.getElementById("encerrarSessao").innerHTML = strEncerrarSessao[confEncerrarSessao];
      //document.getElementById("email").innerHTML = confEmail;
      document.getElementById("fech["+confFechamento+"]").style = "display:visible";
      document.getElementById("desl["+confDesligamento+"]").style = "display:visible";
      
      socket.emit('verificaVersaoSoftware')
      socket.on('versaoSoftware', function(data){
        versaoAtual = data;
        document.getElementById('versaoAtual').innerHTML = "Versão atual: " + versaoAtual;
      })

      if (confCartao==1)
        document.getElementById("switch-cartao").className = "switch-on";
      else
        document.getElementById("switch-cartao").className = "switch-off";

      socket.emit('getSerialNumber')
      socket.on('setSerialNumber', function(data){
        document.getElementById('serialNumber').innerHTML = "Número de série: " + data;
      })

      function editFechamento(){
        document.getElementById("SelectOptions").style = "visibility:visible";
        document.getElementById("Tab1").style = "display:visible";
        document.getElementById("line-1").style = "display:visible";
        document.getElementById("Tab2").style = "display:none";
        document.getElementById("line-2").style = "display:none";
        document.getElementById("Tab3").style = "display:none";
        document.getElementById("line-3").style = "display:none";
        document.getElementById("Tab4").style = "display:none";
        document.getElementById("line-4").style = "display:none";
        document.getElementById("Tab5").style = "display:none";
        document.getElementById("line-5").style = "display:none";
        document.getElementById("Tab6").style = "display:none";
        document.getElementById("line-6").style = "display:none";
        document.getElementById("Tab7").style = "display:none";
        document.getElementById("line-7").style = "display:none";
        document.getElementById("Tab8").style = "display:none";
        document.getElementById("line-8").style = "display:none";
      }

      function setFechamento(data){
        confFechamento = data;
        setTimeout(function(){
          document.getElementById("SelectOptions").style = "visibility:hidden"
          document.getElementById("Tab1").style = "display:none"
          document.getElementById("line-1").style = "display:none";}, 100)
        document.getElementById("fechamento").innerHTML = strFechamento[confFechamento];
        editCheckFechamento(confFechamento);
        salvaConfig();
      }

      function editCheckFechamento(data){
        document.getElementById("fech[0]").style = "display:none";
        document.getElementById("fech[1]").style = "display:none";
        document.getElementById("fech[2]").style = "display:none";
        document.getElementById("fech[3]").style = "display:none";
        document.getElementById("fech[4]").style = "display:none";
        document.getElementById("fech["+data+"]").style = "display:visible";
      }

      function editCartao(){
        //document.getElementById("SelectOptions").style = "visibility:hidden";
        //document.getElementById("Tab1").style = "display:none";
        //document.getElementById("Tab2").style = "display:none";
        if (confCartao==0){
          confCartao = 1;
          document.getElementById("switch-cartao").className = "switch-on";}
        else{
          confCartao = 0;
          document.getElementById("switch-cartao").className = "switch-off";}
        salvaConfig();
      }

      function editDesligamento(){
        document.getElementById("SelectOptions").style = "visibility:visible";
        document.getElementById("Tab1").style = "display:none";
        document.getElementById("line-1").style = "display:none";
        document.getElementById("Tab2").style = "display:visible"; 
        document.getElementById("line-2").style = "display:visible";
        document.getElementById("Tab3").style = "display:none";
        document.getElementById("line-3").style = "display:none";
        document.getElementById("Tab4").style = "display:none";
        document.getElementById("line-4").style = "display:none";
        document.getElementById("Tab5").style = "display:none";
        document.getElementById("line-5").style = "display:none";
        document.getElementById("Tab6").style = "display:none";
        document.getElementById("line-6").style = "display:none";
        document.getElementById("Tab7").style = "display:none";
        document.getElementById("line-7").style = "display:none";
        document.getElementById("Tab8").style = "display:none";
        document.getElementById("line-8").style = "display:none";
      }

      function setDesligamento(data){
        confDesligamento = data;
        setTimeout(function(){
          document.getElementById("SelectOptions").style = "visibility:hidden"
          document.getElementById("Tab2").style = "display:none"
          document.getElementById("line-2").style = "display:none";}, 100)
        document.getElementById("desligamento").innerHTML = strEncerrarSessao[confDesligamento];
        editCheckDesligamento(confDesligamento);
        salvaConfig();
      }

      function editCheckDesligamento(data){
        document.getElementById("desl[0]").style = "display:none";
        document.getElementById("desl[1]").style = "display:none";
        document.getElementById("desl[2]").style = "display:none";
        document.getElementById("desl[3]").style = "display:none";
        document.getElementById("desl[4]").style = "display:none";
        document.getElementById("desl["+data+"]").style = "display:visible";
      }

      function resetEmail(){
        document.getElementById("boxEmail").value = '';
        document.getElementById("divEmail1").style = 'border: 1px solid #808080';
        document.getElementById("msgEmail1").innerHTML = '';
      }

      function resetEmail2(){
        document.getElementById("boxEmail2").value = '';
        document.getElementById("divEmail2").style = 'border: 1px solid #808080';
        document.getElementById("msgEmail2").innerHTML = '';
      }

      function resetEmail3(){
        document.getElementById("boxEmail3").value = '';
        document.getElementById("divEmail3").style = 'border: 1px solid #808080';
        document.getElementById("msgEmail3").innerHTML = '';
      }

      function editEmail(){
        //document.getElementById("boxEmail").value = '';
        document.getElementById("boxEmail").value = emailAtual;
        document.getElementById("boxEmail2").value = emailAtual2;
        document.getElementById("boxEmail3").value = emailAtual3;
        document.getElementById("divEmail1").style = 'border: 1px solid #808080';
        document.getElementById("msgEmail1").innerHTML = '';
        document.getElementById("divEmail2").style = 'border: 1px solid #808080';
        document.getElementById("msgEmail2").innerHTML = '';
        document.getElementById("divEmail3").style = 'border: 1px solid #808080';
        document.getElementById("msgEmail3").innerHTML = ''
        document.getElementById("SelectOptions").style = "visibility:visible";
        document.getElementById("Tab1").style = "display:none";
        document.getElementById("line-1").style = "display:none";
        document.getElementById("Tab2").style = "display:none";
        document.getElementById("line-2").style = "display:none";
        document.getElementById("Tab3").style = "display:visible";
        document.getElementById("line-3").style = "display:visible";
        document.getElementById("Tab4").style = "display:none";
        document.getElementById("line-4").style = "display:none";
        document.getElementById("Tab5").style = "display:none";
        document.getElementById("line-5").style = "display:none";
        document.getElementById("Tab6").style = "display:none";
        document.getElementById("line-6").style = "display:none";
        document.getElementById("Tab7").style = "display:none";
        document.getElementById("line-7").style = "display:none";
        document.getElementById("Tab8").style = "display:none";
        document.getElementById("line-8").style = "display:none";
      }

      function deletarRegistros(){
        //document.getElementById("boxEmail").value = '';
        document.getElementById("SelectOptions").style = "visibility:visible";
        document.getElementById("Tab1").style = "display:none";
        document.getElementById("line-1").style = "display:none";
        document.getElementById("Tab2").style = "display:none";
        document.getElementById("line-2").style = "display:none";
        document.getElementById("Tab3").style = "display:none";
        document.getElementById("line-3").style = "display:none";
        document.getElementById("Tab4").style = "display:none";
        document.getElementById("line-4").style = "display:none";
        document.getElementById("Tab5").style = "display:visible";
        document.getElementById("line-5").style = "display:visible";
        document.getElementById("Tab6").style = "display:none";
        document.getElementById("line-6").style = "display:none";
        document.getElementById("Tab7").style = "display:none";
        document.getElementById("line-7").style = "display:none";
        document.getElementById("Tab8").style = "display:none";
        document.getElementById("line-8").style = "display:none";
      }

      function telaAtualizacao(){
        //document.getElementById("boxEmail").value = '';
        document.getElementById("SelectOptions").style = "visibility:visible";
        document.getElementById("erroAtualizar").style = "visibility:hidden";
        document.getElementById("erroAtualizar").innerHTML = "";
        document.getElementById("Tab1").style = "display:none";
        document.getElementById("line-1").style = "display:none";
        document.getElementById("Tab2").style = "display:none";
        document.getElementById("line-2").style = "display:none";
        document.getElementById("Tab3").style = "display:none";
        document.getElementById("line-3").style = "display:none";
        document.getElementById("Tab4").style = "display:none";
        document.getElementById("line-4").style = "display:none";
        document.getElementById("Tab5").style = "display:none";
        document.getElementById("line-5").style = "display:none";
        document.getElementById("Tab6").style = "display:visible";
        document.getElementById("line-6").style = "display:visible";
        document.getElementById("Tab7").style = "display:none";
        document.getElementById("line-7").style = "display:none";
        document.getElementById("Tab8").style = "display:none";
        document.getElementById("line-8").style = "display:none";
      }

      function validarEmail(email){
        var re = /\S+@\S+\.\S+/;
        return re.test(email);
      }

      function setEmail(){
        //confEmail = document.getElementById("email").value
        //document.getElementById("email").innerHTML = document.getElementById("boxEmail").value;
        var email1Valido = validarEmail(document.getElementById("boxEmail").value)==1 || document.getElementById("boxEmail").value == "";
        var email2Valido = validarEmail(document.getElementById("boxEmail2").value)==1 || document.getElementById("boxEmail2").value == "";
        var email3Valido = validarEmail(document.getElementById("boxEmail3").value)==1 || document.getElementById("boxEmail3").value == "";
        if(email1Valido && email2Valido && email3Valido){
          setTimeout(function(){
            document.getElementById("SelectOptions").style = "visibility:hidden";
            document.getElementById("Tab3").style = "display:none";
            document.getElementById("line-3").style = "display:none";
            document.getElementById("divEmail1").style = 'border: 1px solid #808080';
            document.getElementById("msgEmail1").innerHTML = '';
            document.getElementById("divEmail2").style = 'border: 1px solid #808080';
            document.getElementById("msgEmail2").innerHTML = '';
            document.getElementById("divEmail3").style = 'border: 1px solid #808080';
            document.getElementById("msgEmail3").innerHTML = '';}, 100)
          salvaConfig();
        }else{
          if(email1Valido==0){
            document.getElementById("divEmail1").style = 'border: 1px solid red';
            document.getElementById("msgEmail1").innerHTML = 'E-mail inválido';
            document.getElementById("divEmail2").style = 'border: 1px solid #808080';
            document.getElementById("msgEmail2").innerHTML = '';
            document.getElementById("divEmail3").style = 'border: 1px solid #808080';
            document.getElementById("msgEmail3").innerHTML = '';
          }
          if(email2Valido==0){
            document.getElementById("divEmail1").style = 'border: 1px solid #808080';
            document.getElementById("msgEmail1").innerHTML = '';
            document.getElementById("divEmail2").style = 'border: 1px solid red';
            document.getElementById("msgEmail2").innerHTML = 'E-mail inválido';
            document.getElementById("divEmail3").style = 'border: 1px solid #808080';
            document.getElementById("msgEmail3").innerHTML = '';
          }
          if(email3Valido==0){
            document.getElementById("divEmail1").style = 'border: 1px solid #808080';
            document.getElementById("msgEmail1").innerHTML = '';
            document.getElementById("divEmail2").style = 'border: 1px solid #808080';
            document.getElementById("msgEmail2").innerHTML = '';
            document.getElementById("divEmail3").style = 'border: 1px solid red';
            document.getElementById("msgEmail3").innerHTML = 'E-mail inválido';
          }
        }
      }

      function setIdentificacao(){
        setTimeout(function(){
          document.getElementById("SelectOptions").style = "visibility:hidden"
          document.getElementById("Tab8").style = "display:none"
          document.getElementById("line-8").style = "display:none";}, 100)
        salvaConfig();
      }

      function salvaConfig(){
        var confEmail = document.getElementById("boxEmail").value
        var confEmail2 = document.getElementById("boxEmail2").value
        var confEmail3 = document.getElementById("boxEmail3").value
        var confIdentificacao = document.getElementById("boxIdentificacao").value
        emailAtual = confEmail
        emailAtual2 = confEmail2
        emailAtual3 = confEmail3
        identificacao = confIdentificacao
        socket.emit('salvaConfiguracoes', confFechamento, confCartao, confDesligamento, confEmail, confEmail2, confEmail3, confIdentificacao, confEncerrarSessao)
      }

      function excluirRegistrosDevolvidas(){
        document.getElementById('dialogConfirmaExclusaoDevolvidas').close();
        socket.emit('excluiRegistros', 0)
        setTimeout(function(){
          document.getElementById("SelectOptions").style = "visibility:hidden"
          document.getElementById("Tab5").style = "display:none"
          document.getElementById("line-5").style = "display:none";}, 100)
      }

      function excluirRegistrosTodos(){
        document.getElementById('dialogConfirmaExclusaoTodos').close();
        socket.emit('excluiRegistros', 1)
        setTimeout(function(){
          document.getElementById("SelectOptions").style = "visibility:hidden"
          document.getElementById("Tab5").style = "display:none"
          document.getElementById("line-5").style = "display:none";}, 100)
      }

      function excluirRegistros(data){
        if (data==0){
          document.getElementById('dialogConfirmaExclusaoDevolvidas').showModal();
        }
        else if (data==1){
          document.getElementById('dialogConfirmaExclusaoTodos').showModal();
        }
      }

      /*function excluirRegistros(data){
        if (data==0){
          socket.emit('excluiRegistros', 0)
        }
        else if (data==1){
          socket.emit('excluiRegistros', 1)
        }
        setTimeout(function(){
          document.getElementById("SelectOptions").style = "visibility:hidden"
          document.getElementById("Tab5").style = "display:none"
          document.getElementById("line-5").style = "display:none";}, 100)
      }*/

      function telaEncerrarSessao(){
        document.getElementById("SelectOptions").style = "visibility:visible";
        document.getElementById("Tab1").style = "display:none";
        document.getElementById("line-1").style = "display:none";
        document.getElementById("Tab2").style = "display:none"; 
        document.getElementById("line-2").style = "display:none";
        document.getElementById("Tab3").style = "display:none";
        document.getElementById("line-3").style = "display:none";
        document.getElementById("Tab4").style = "display:none";
        document.getElementById("line-4").style = "display:none";
        document.getElementById("Tab5").style = "display:none";
        document.getElementById("line-5").style = "display:none";
        document.getElementById("Tab6").style = "display:none";
        document.getElementById("line-6").style = "display:none";
        document.getElementById("Tab7").style = "display:visible";
        document.getElementById("line-7").style = "display:visible";
        document.getElementById("Tab8").style = "display:none";
        document.getElementById("line-8").style = "display:none";
      }

      function setEncerrarSessao(data){
        confEncerrarSessao = data;
        setTimeout(function(){
          document.getElementById("SelectOptions").style = "visibility:hidden"
          document.getElementById("Tab2").style = "display:none"
          document.getElementById("line-2").style = "display:none";}, 100)
        document.getElementById("encerrarSessao").innerHTML = strEncerrarSessao[confEncerrarSessao];
        editCheckEncerrarSessao(confEncerrarSessao);
        salvaConfig();
      }

      function editCheckEncerrarSessao(data){
        document.getElementById("encer[0]").style = "display:none";
        document.getElementById("encer[1]").style = "display:none";
        document.getElementById("encer[2]").style = "display:none";
        document.getElementById("encer[3]").style = "display:none";
        document.getElementById("encer[4]").style = "display:none";
        document.getElementById("encer["+data+"]").style = "display:visible";
      }

      function editIdentificacao(){
        document.getElementById("boxIdentificacao").value = identificacao;
        document.getElementById("SelectOptions").style = "visibility:visible";
        document.getElementById("Tab1").style = "display:none";
        document.getElementById("line-1").style = "display:none";
        document.getElementById("Tab2").style = "display:none"; 
        document.getElementById("line-2").style = "display:none";
        document.getElementById("Tab3").style = "display:none";
        document.getElementById("line-3").style = "display:none";
        document.getElementById("Tab4").style = "display:none";
        document.getElementById("line-4").style = "display:none";
        document.getElementById("Tab5").style = "display:none";
        document.getElementById("line-5").style = "display:none";
        document.getElementById("Tab6").style = "display:none";
        document.getElementById("line-6").style = "display:none";
        document.getElementById("Tab7").style = "display:none";
        document.getElementById("line-7").style = "display:none";
        document.getElementById("Tab8").style = "display:visible";
        document.getElementById("line-8").style = "display:visible";
      }

      function verificarAtualizacoes(){
        document.getElementById("btn_VerificarAtualizacao").style = "display:none";
        document.getElementById("btn_VerificarAtualizacaoLoading").style = "display:visible";
        socket.emit('auxBuscarAtualizacoes')
      }

      function atualizarDispositivo(){
        socket.emit('auxAtualizaDispositivo')
      }

      socket.on('resultadoBuscaAtualizacao', function(data){
        if (data==0){
          document.getElementById("btn_VerificarAtualizacao").style = "display:visible";
          document.getElementById("btn_VerificarAtualizacaoLoading").style = "display:none";
          document.getElementById("erroAtualizar").style = "display:visible";
          document.getElementById("erroAtualizar").innerHTML = "Sem conexão com a rede";
        }
        else if (data==versaoAtual){
          document.getElementById("btn_VerificarAtualizacao").style = "display:visible";
          document.getElementById("btn_VerificarAtualizacaoLoading").style = "display:none";
          document.getElementById('textBuscaAtualizacao').innerHTML = "O dispositivo já está na versão mais recente.";
        }
        else{
          document.getElementById("verificarAtualizacoes").style = "display:none";
          document.getElementById("atualizarDispositivo").style = "display:visible";
          document.getElementById('textAtualizacao').innerHTML = "Versão " + data + " disponível. Atualizar dispositivo:";
        }
        /*if (data==1){
          window.location = "/admin/atualizacao";
        }
        else{
          document.getElementById("erroAtualizar").style = "display:visible";
          document.getElementById("erroAtualizar").innerHTML = "Sem conexão com a rede";
        }*/
      })

      socket.on('resultadoAtualizacao', function(data){
        if (data==1){
          window.location = "/admin/atualizacao";
        }
        else{
          document.getElementById("erroAtualizar").style = "display:visible";
          document.getElementById("erroAtualizar").innerHTML = "Sem conexão com a rede";
        }
      })

      function fechaDialogExclusaoTodos(){
        document.getElementById('dialogConfirmaExclusaoTodos').close();
      }

      function fechaDialogExclusaoDevolvidas(){
        document.getElementById('dialogConfirmaExclusaoDevolvidas').close();
      }

      document.getElementById("line-1").style = "display:none";
      document.getElementById("line-2").style = "display:none";
      document.getElementById("line-3").style = "display:none";
      document.getElementById("line-4").style = "display:none";
      document.getElementById("line-5").style = "display:none";
      document.getElementById("line-6").style = "display:none";
      document.getElementById("line-7").style = "display:none";
      document.getElementById("line-8").style = "display:none";


      // ===== Configurações de data e hora =====

      var arrDataMax = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

      var today=new Date();
      var dia=today.getDate();
      var mes=today.getMonth()+1; //Inicia em 0
      var ano=today.getFullYear();
      var hora=today.getHours();
      var minuto=today.getMinutes();
      
      function editDataHora(){
        today=new Date();
        dia=today.getDate();
        mes=today.getMonth()+1; //Inicia em 0
        ano=today.getFullYear();
        hora=today.getHours();
        minuto=today.getMinutes();
        document.getElementById('dia').innerHTML=(dia<10)?('0'+dia):dia;
        document.getElementById('mes').innerHTML=(mes<10)?('0'+mes):mes;
        document.getElementById('ano').innerHTML=ano;
        document.getElementById('hora').innerHTML=(hora<10)?('0'+hora):hora;
        document.getElementById('minuto').innerHTML=(minuto<10)?('0'+minuto):minuto;
        document.getElementById("SelectOptions").style = "visibility:visible";
        document.getElementById("Tab1").style = "display:none";
        document.getElementById("line-1").style = "display:none";
        document.getElementById("Tab2").style = "display:none";
        document.getElementById("line-2").style = "display:none";
        document.getElementById("Tab3").style = "display:none";
        document.getElementById("line-3").style = "display:none";
        document.getElementById("Tab4").style = "display:visible";
        document.getElementById("line-4").style = "display:visible";
        document.getElementById("Tab5").style = "display:none";
        document.getElementById("line-5").style = "display:none";
        document.getElementById("Tab6").style = "display:none";
        document.getElementById("line-6").style = "display:none";
        document.getElementById("Tab7").style = "display:none";
        document.getElementById("line-7").style = "display:none";
        document.getElementById("Tab8").style = "display:none";
        document.getElementById("line-8").style = "display:none";
      }

      function up_dia(){
        dia = (dia<arrDataMax[mes-1])?(dia+1):1;
        document.getElementById('dia').innerHTML=(dia<10)?('0'+dia):dia;
      }
      function down_dia(){
        dia = (dia>1)?(dia-1):arrDataMax[mes-1];
        document.getElementById('dia').innerHTML=(dia<10)?('0'+dia):dia;
      }
      function up_mes(){
        mes = (mes<12)?(mes+1):1;
        if (dia>arrDataMax[mes-1]){
          dia = arrDataMax[mes-1]
          document.getElementById('dia').innerHTML=(dia<10)?('0'+dia):dia;
        }
        document.getElementById('mes').innerHTML=(mes<10)?('0'+mes):mes;
      }
      function down_mes(){
        mes = (mes>1)?(mes-1):12;
        if (dia>arrDataMax[mes-1]){
          dia = arrDataMax[mes-1]
          document.getElementById('dia').innerHTML=(dia<10)?('0'+dia):dia;
        }
        document.getElementById('mes').innerHTML=(mes<10)?('0'+mes):mes;
      }
      function up_ano(){
        ano = ano+1;
        document.getElementById('ano').innerHTML=ano;
      }
      function down_ano(){
        ano = ano-1;
        document.getElementById('ano').innerHTML=ano;
      }
      function up_hora(){
        hora = (hora<23)?(hora+1):0;
        document.getElementById('hora').innerHTML=(hora<10)?('0'+hora):hora;
      }
      function down_hora(){
        hora = (hora>0)?(hora-1):23;
        document.getElementById('hora').innerHTML=(hora<10)?('0'+hora):hora;
      }
      function up_minuto(){
        minuto = (minuto<59)?(minuto+1):0;
        document.getElementById('minuto').innerHTML=(minuto<10)?('0'+minuto):minuto;
      }
      function down_minuto(){
        minuto = (minuto>0)?(minuto-1):59;
        document.getElementById('minuto').innerHTML=(minuto<10)?('0'+minuto):minuto;
      }

      function alteraDataHora(){
        socket.emit('alteraDataHora', (String(mes)+'/'+String(dia)+'/'+String(ano)+' '+String(hora)+':'+String(minuto)+':00'))
        setTimeout(function(){
          document.getElementById("SelectOptions").style = "visibility:hidden"
          document.getElementById("Tab4").style = "display:none"
          document.getElementById("line-4").style = "display:none";}, 100)
      }

    </script>
</body>
<foot>
  <div class="footer">
    <a href="/usuarios/main"><button class="btn_return"></button></a>
  </div>
</foot>
